.navbar {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eaeaea;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar-container {
  max-width: 1270px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.navbar-container h2{
    cursor: pointer;
}


/* Menu */
.nav-menu {
  display: flex;
  list-style: none;
  justify-content: center;
  flex: 1;
}

.nav-menu li {
  margin: 0 15px;
}

.nav-menu li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s, transform 0.3s;
}

.nav-menu li a:hover {
  color: #d4ff00;
  transform: scale(1.1);
}

/* Cart */
.icons {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  cursor: pointer;
  color: #333;
  transition: color 0.3s, transform 0.3s;
}

.cart,
.wishlist{
  color: black;
}

.cart:hover {
  transform: scale(1.1);
}
.wishlist:hover{
  color: red;
}

.HeartIcon,.cartIcon {
  position: relative;
  display: inline-flex;
}

.likeLength,.cartLength {
  position: absolute;
  top: -8px;
  right: -8px;
  min-width: 16px;
  height: 16px;
  background-color: red;
  color: white;
  font-size: 10px;
  font-weight: 600;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}


/* Hamburger icon - mobile */
.menu-icon {
  display: none;
  cursor: pointer;
  color: #333;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #fff;
    flex-direction: column;
    align-items: center;
    display: none;
    border-top: 1px solid #eaeaea;
    transition: all 0.3s ease;
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-menu li {
    margin: 15px 0;
  }

  .menu-icon {
    display: block;
  }

  .icons {
    position: absolute;
    right: 69px;
  }
}