.cart-sidebar-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
}

.cart-sidebar {
  width: 400px;
  max-width: 100%;
  max-height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  box-shadow: -4px 0 20px rgba(0,0,0,0.2);
  overflow-y: auto;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.cart-header h2 {
  margin: 0;
  font-size: 1.5rem;
}

.cart-header button {
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.cart-items {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #f9f9f9;
  padding: 0.8rem;
  border-radius: 10px;
  position: relative;
}

.cart-item-img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
}

.cart-item-info {
  flex: 1;
}

.cart-item-info h4 {
  margin: 0 0 0.3rem 0;
  font-size: 20px;
}

.cart-item-info p {
  margin: 0 0 0.5rem 0;
  color: #666;
}

.cart-quantity {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.cart-quantity button {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  background: white;
  border-radius: 5px;
  cursor: pointer;
}

.cart-quantity span {
  font-weight: 600;
}

.cart-item-remove {
  background: transparent;
  border: none;
  font-size: 1rem;
  color: #ff4757;
  cursor: pointer;
}

.cart-footer {
  border-top: 1px solid #ddd;
  padding-top: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.checkout-btn {
  width: 100%;
  background: #d4ff00;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.checkout-btn:hover {
  background: #708602;
  color: white;
}


.empty-cart{
    display: flex;
    justify-content: center;
    align-items: center;
}