.details-container,
.not-found {
  margin-top: 100px;
  padding: 2rem;
}
.not-found{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.details-wrapper {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
}

/* IMAGE */
.details-image {
  background: #f7f7f7;
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.details-image img {
  width: 100%;
  max-width: 400px;
  object-fit: contain;
}

/* INFO */
.details-info .category {
  color: #ff4d4d;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}

.details-info h1 {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.description {
  color: #666;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

/* PRICE */
.price-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.price {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  font-size: 1.2rem;
}

/* BUTTONS */
.actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add-cart {
  padding: 14px 30px;
  background: #d4ff00;
  color: black;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  font-size: 16px;
}

.buy-now {
  padding: 14px 30px;
  background: black;
  color: white;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;

}

.add-cart:hover,
.buy-now:hover {
  opacity: 0.8;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .details-wrapper {
    grid-template-columns: 1fr;
  }
}
